<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= @beacon.errors.count %> error(es). No se pudo crear el nuevo
        beacon debido a las siguientes razones:</h2>

      <ul>
      <% @beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Ingrese los datos del beacon. Los campos marcados por un * son obligatorios.</p>

  <div class="field">
    *<%= f.label :departamento %><br>
    <%= f.text_field :departamento, :maxLength => 30 %>
  </div>
  <div class="field">
    *<%= f.label :negocio %><br>
    <%= f.text_field :negocio, :maxLength => 30 %>
  </div>
  <div class="field">
    
    *<%= f.label :rango_deteccion ,"Rango de detección (en m.)", :size => 30 %><br>
    <%= f.text_field :rango_deteccion, :maxLength => 30 %>
  </div>
  <div class="actions" style="text-align:right;">
    <input type="submit" class="boton" value="Crear beacon">
  </div>
<% end %>
