<h1 class="Titulo">Lista de beacons</h1>


<div class="contenedorBoton">
<%= link_to 'Agregar beacon', new_beacon_path , class: "boton"%>

</div>

<div class="contenedorTabla">

<table class="tableCRUD" style="width:100%; margin-left:auto; margin-right:auto">
  <thead>
    <tr>
      <th style="width:30%">Departamento</th>
      <th style="width:25%">Negocio</th>
      <th style="width:15%">Rango de detección (en m.)</th>
      <th colspan="3" style="width:30%"></th>
    </tr>
  </thead>
  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td style="width:30%"><%= beacon.departamento %></td>
        <td style="width:25%"><%= beacon.negocio %></td>
        <td style="width:15%"><%= beacon.rango_deteccion %></td>
        <td class="columnaComando">
          <%= link_to 'Ver', "/beacons/"+ String(beacon.id) ,  { :class=>"table_link" }%></td>
        <td class="columnaComando">
          <%= link_to 'Editar', edit_beacon_path(beacon),{ :class=>"table_link" } %>
        </td>
        <td class="columnaComando">
          <%= link_to 'Eliminar', "/beacons/"+ String(beacon.id), method: :delete, data: { confirm: '¿Está seguro?'}, :class => "table_link"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<% if @success  %>

  <script type="text/javascript">

    alert("<%= @mensaje %>");
  </script>

<% end %>