<h1>Detalles del beacon</h1>
<hr/>
<p id="notice"><%= notice %></p>

<p>
  <strong>Departamento:</strong>
  <%= @beacon.departamento %>
</p>

<p>
  <strong>Negocio:</strong>
  <%= @beacon.negocio %>
</p>

<p>
  <strong>Rango de detección (en m.):</strong>
  <%= @beacon.rango_deteccion%>
</p>
<br/><br/>
<%= link_to 'Editar', edit_beacon_path(@beacon),  { :class=>"table_link" } %> |
<%= link_to 'Ver todos los beacons', beacons_path,  { :class=>"table_link" } %>
