<h1>Administrador de iBeacons</h1>


<table class="table_icons">
	<tr>
		<td>

			<a href="/beacons" class= "table_link">
				<%= image_tag "ibeacon_icon.png", class: "imagelogo" %>
				<br/>Beacons
			</a>
		</td>

		<td>
			<a href="/productos" class= "table_link">
			<%= image_tag "products.png", class: "imagelogo" %>
			<br/>Productos
			</a>
		</td>

		<td>
			<a href="/promocions" class= "table_link">
			<%= image_tag "promotions.png", class: "imagelogo" %>
			<br/>Promociones
			</a>
		</td>
	</tr>

	<tr>
		<td>
			<a href="/negocios" class= "table_link">
			<%= image_tag "negocios.png", class: "imagelogo" %>
			<br/>Negocios
			</a>
		</td>

		<td>
			<a href="/haciendas" class= "table_link">
			<%= image_tag "hacienda.png", class: "imagelogo" %>
			<br/>Hacienda
			</a>
		</td>

		<td>
			<a href="/usuarios" class= "table_link">
			<%= image_tag "user.png", class: "imagelogo" %>
			<br/>Usuarios
			</a>
		</td>
	</tr>

</table>
