/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .tableCRUD{
 	width: 95%;
 	margin-left: auto;
 	margin-right: auto;
 	font-size: 10px !important;
 }

 .tableCRUD tr{
 	border: 1px #f5f5f5 solid;
 }

.tableCRUD tr:nth-child(even){
	background: #f5f5f5;
}

 .tableCRUD tr td{
 	border: 1px #f5f5f5 solid;
 	font-size: 10px !important;
 	padding-right: 5px;
 }


.columnaComando{
	text-align: center;
	width: 10%;
}

 .tableCRUD th{
 	width:25%;
 	text-align: center;
 	background: #222;
 	color: whitesmoke;
 }

 .table_link {
 	color:#428bca !important;
 }
 .table_link:visited {
 	color:#428bca !important;
 }


 .table_link:hover{
  	text-decoration: underline;
  	background: white !important;	
 }

.contenedorTabla{
	max-height: 550px;
	overflow-y: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.contenedorBoton{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	margin-bottom: 10px;
}

.boton{
	background: #222;
	border: solid 1px #080808;
	color: whitesmoke !important;
	padding: 5px;
	font-size: 11px;
}

.boton:hover{
	background: #f5f5f5;
	border: solid 1px #f5f5f5 !important;
	color: black !important;
}

.Titulo{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.headerSub{
	width:100%; 
	background:#f5f5f5; 
	height: 30px;
	padding-top: 5px;
	padding-left: 3px;
}