// Place all the styles related to the beacons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#beacon_departamento{
	width: 300px;
}

#beacon_negocio{
	width: 300px;
}