// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_icons{
	text-align:center;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

.imagelogo{
	width: 100px;
	height: 100px;
}

.table_icons td{
	height: 150px;
}

a :hover{
	text-decoration: none;
}