<!DOCTYPE html>
<html>
<head>
  <title>Gvenk - iBeacons</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">   
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  
  <!-- StyleSheets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'templatemo_main', media: 'all', 'data-turbolinks-track' => true %>
     
  <!-- Scripts -->  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'Chart.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'templatemo_script', 'data-turbolinks-track' => true %>
  
</head>
<body>
 <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>Gvenk - iBeacons Administrator</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
      </div>   
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          
          <li><a href="/home">Inicio</a></li>
          
          <!--Menu de beacons-->
          <li class="sub">
            <a href="/beacons">
              Beacons 
            </a>            
          </li>
          
          <!--Submenus de Productos-->
           <li class="sub">
            <a href="/productos">
              Productos</a>
          </li>
          
          <!--Submenus de Promociones-->
           <li class="sub">
            <a href="/promocions">
              Promociones
            </a>
          </li>
          
          <!--Submenus de Negocios-->
           <li class="sub">
            <a href="/negocios">
              Negocios 
            </a>
          </li>
          
          <!--Submenus de Hacienda-->
           <li class="sub">
            <a href="/haciendas">
              Hacienda 
            </a>
          </li>
          
          <!--Submenus de Usuarios-->
           <li class="sub">
            <a href="/usuarios">
              Usuarios 
            </a>
          </li>
          
          <!--<li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Cerrar sesión</a></li>
        </ul>-->
      </div><!--/.navbar-collapse -->

      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
         
         <!-- Body de las vistas --> 
          <%= yield %>
          <br/><br/><br/><br/><br/>
      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
            </div>
            <div class="modal-footer">
              <a href="sign-in.html" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      
      <br/>
      <footer class="templatemo-footer">
        <div class="templatemo-copyright">
          <p>Copyright &copy; 2014 Gvenk <!-- Credit: www.templatemo.com --></p>
        </div>
      </footer>
    </div>

    <!-- <script src="js/jquery.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- <script src="js/Chart.min.js"></script> -->
    <!-- <script src="js/templatemo_script.js"></script> -->
    <script type="text/javascript"> 
    // Line chart
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
      labels : ["January","February","March","April","May","June","July"],
      datasets : [
      {
        label: "My First dataset",
        fillColor : "rgba(220,220,220,0.2)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
      },
      {
        label: "My Second dataset",
        fillColor : "rgba(151,187,205,0.2)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(151,187,205,1)",
        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
      }
      ]

    }

    window.onload = function(){
      var ctx_line = document.getElementById("templatemo-line-chart").getContext("2d");
      window.myLine = new Chart(ctx_line).Line(lineChartData, {
        responsive: true
      });
    };

    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('#loading-example-btn').click(function () {
      var btn = $(this);
      btn.button('loading');
      // $.ajax(...).always(function () {
      //   btn.button('reset');
      // });
  });
  </script>


</body>
</html>
